EASTMONEY_HOST=https://push2.eastmoney.com
EASTMONEY_REFERER=https://quote.eastmoney.com/
SCAN_INTERVAL_SECONDS=3
DEEP_INTERVAL_SECONDS=5
CANDIDATE_COUNT=24
STALE_AFTER_SECONDS=12
HTTP_TIMEOUT_SECONDS=5
